/* NORMALIZAÇÃO */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

/* PLANO DE FUNDO */
html, body {
    background: url(../img/bg_clouds2.webp) repeat-x, 
    url(../img/bg_ground_tile2.webp) repeat-x, 
    url(../img/bg_black_tile.png);
}